.body {
  margin: 0 auto;
  width: 1200px;
  cursor: pointer;
  background: #FFFFFF;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
.header-container__LogoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container__LogoNav__logo {
  margin-right: 120px;
}
.header-container__LogoNav__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.header-container__LogoNav__navigation-list__item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.header-container__LogoNav__navigation-list__item:hover {
  color: #9C69E2;
}
.header-container__LogoNav__nav-button {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-container__LogoNav__navigation-list {
    display: none;
  }
  .header-container__LogoNav__nav-button {
    display: block;
    position: fixed;
    z-index: 7;
    top: 36px;
    right: 700px;
  }
  .header-container__LogoNav__navigation.open .header-container__LogoNav__navigation-list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 1;
    padding: 30px 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    font-size: 34px;
    font-weight: 600;
  }
}
.header-container__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 60px;
  border: 1px solid #9C69E2;
  border-radius: 50px;
}
.header-container__button:hover {
  background: #9C69E2;
}
.header-container__button-item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
}
.header-container__button-item:hover {
  color: #FFFFFF;
}

.main-block1__header {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
}
.main-block1__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #4B5D68;
}
.main-block1__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 60px;
  background: #9C69E2;
  border: 1px solid #9C69E2;
  -webkit-box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}
.main-block1__button:hover {
  background: #8A40EE;
}
.main-block1__button-item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
}
.main-block1__image-item {
  margin-left: 400px;
  margin-top: -367px;
}
@media screen and (max-width: 768px) {
  .main-block1__image-item {
    margin-left: 0;
    margin-top: 0;
  }
}

.main-block2 {
  margin-top: 100px;
  background: #FDE8F5;
  border-radius: 50px;
}
.main-block2__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 130px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.main-block2__image {
  margin-left: 70px;
  margin-top: 75px;
}
.main-block2__page {
  margin-right: 70px;
}
.main-block2__page__title {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  margin-top: 110px;
}
.main-block2__page__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.main-block3 {
  margin-top: 120px;
}
.main-block3__pointer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 137px;
}
.main-block3__pointer-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #212353;
}
.main-block3__title {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin: 120px auto 0 485px;
  color: #212353;
}
.main-block3__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #4B5D68;
}
.main-block3__page {
  width: 230px;
  height: 276px;
  margin-top: 62px;
  margin-bottom: 62px;
}
.main-block3__page-title {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}
.main-block3__page-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  width: 230px;
  height: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4B5D68;
}
.main-block3__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .main-block3__grid {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
}
.main-block3__grid-LT {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-block3__grid-LT__card {
  z-index: -1;
}
.main-block3__grid-LT__card-image__itemELT {
  position: absolute;
  width: 33.99px;
  height: 20.09px;
  margin-left: 58px;
  margin-top: 59px;
  -webkit-transform: rotate(20.72deg);
          transform: rotate(20.72deg);
}
.main-block3__grid-LT__card-image__itemVLT {
  position: absolute;
  width: 205.62px;
  height: 119.65px;
  left: 120.4px;
  top: 185px;
  border: 1.5px solid #FFFFFF;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.main-block3__grid-LT__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin-left: -60px;
  background: #F0FAF9;
  border-radius: 50px;
}
.main-block3__grid-RT {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-block3__grid-RT__card {
  z-index: -1;
}
.main-block3__grid-RT__card-image__itemVRT {
  position: absolute;
  width: 222.22px;
  height: 129.3px;
  left: 80.72px;
  top: -49px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-block3__grid-RT__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin-left: -71px;
  background: #F6F0FD;
  border-radius: 50px;
}
.main-block3__grid-LB {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-block3__grid-LB__card {
  z-index: -1;
}
.main-block3__grid-LB__card-image__itemELB {
  position: absolute;
  width: 68.05px;
  height: 40.21px;
  left: 72.04px;
  top: 25.83px;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.main-block3__grid-LB__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin-left: -75px;
  background: #FEF0F8;
  border-radius: 50px;
}
.main-block3__grid-RB {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-block3__grid-RB__card {
  z-index: -1;
}
.main-block3__grid-RB__card-image__itemERB {
  position: absolute;
  width: 61.85px;
  height: 36.55px;
  left: 301.93px;
  top: 304px;
  -webkit-transform: rotate(20.72deg);
          transform: rotate(20.72deg);
}
.main-block3__grid-RB__card-image__itemVRB {
  position: absolute;
  width: 323.58px;
  height: 188.28px;
  left: -34px;
  top: 56.75px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
.main-block3__grid-RB__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin-left: -60px;
  background: #EAF6FC;
  border-radius: 50px;
}

.main-block4 {
  margin-top: 120px;
}
.main-block4__card {
  background: #CCDDFF;
  border-radius: 50px;
}
.main-block4__card-design__imageL {
  width: 580px;
}
.main-block4__card-design__imageL-img {
  width: 540px;
  height: 320px;
  left: 0;
  margin-top: -200px;
}
.main-block4__card-design__imageR {
  width: 580px;
}
.main-block4__card-title {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin-top: -500px;
  margin-left: 444px;
  color: #212353;
}
@media screen and (max-width: 768px) {
  .main-block4__card-grid {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
}
.main-block4__card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  margin-top: 80px;
}
.main-block4__card-grid__page-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
}
.main-block4__card-grid__page-text1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #9C69E2;
}
.main-block4__card-grid__page-text2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
}
.main-block4__card-grid__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 30px;
  gap: 15px;
  margin-left: 70px;
  background: #FFFFFF;
  border: 1px solid #9C69E2;
  -webkit-box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}
.main-block4__card-grid__left__image-item {
  border-radius: 50%;
}
.main-block4__card-grid__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 30px;
  gap: 15px;
  margin-right: 70px;
  background: #FFFFFF;
  border: 1px solid #9C69E2;
  -webkit-box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}
.main-block4__card-grid__right__image-item {
  border-radius: 50%;
}

.footer-block {
  margin-top: 120px;
}
.footer-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.footer-block__header__title__header {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}
.footer-block__header__title__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}
.footer-block__header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 450px;
}
.footer-block__header__button__item1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  gap: 15px;
  width: 210px;
  height: 60px;
  left: 214px;
  top: 594px;
  background: #F063B8;
  border: 1px solid #F063B8;
  -webkit-box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}
.footer-block__header__button__item1:hover {
  background: #EB4BAB;
}
.footer-block__header__button__item1-inner {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding-left: 52px;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #FFFFFF;
}
.footer-block__header__button__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 0;
  width: 210px;
  height: 60px;
  border: 1px solid #9C69E2;
  border-radius: 50px;
}
.footer-block__header__button__item2:hover {
  background: #9C69E2;
}
.footer-block__header__button__item2-inner {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  width: 124px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
}
.footer-block__header__button__item2-inner:hover {
  color: #FFFFFF;
}
.footer-block__main {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 240px;
}
.footer-block__main-LogoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 60px;
  width: 300px;
}
.footer-block__main-LogoNav__contacts {
  width: max-width;
  margin-right: 200px;
}
.footer-block__main-LogoNav__contacts-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
}
.footer-block__main-LogoNav__contacts-logo__title {
  width: 180px;
  height: 30px;
  left: 69px;
  top: 3px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
}
.footer-block__main-LogoNav__contacts-logo__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
}
.footer-block__main-LogoNav__contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  width: 275px;
}
.footer-block__main-LogoNav__contacts-info__text1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}
.footer-block__main-LogoNav__contacts-info__text2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}
.footer-block__main-LogoNav__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 168px;
}
.footer-block__main-LogoNav__navigation__list-item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  cursor: pointer;
}
.footer-block__main-LogoNav__navigation__list-item:hover {
  color: #8A40EE;
  cursor: pointer;
}
.footer-block__main-LogoNav__navigation-About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 30px;
  color: #212353;
}
.footer-block__main-LogoNav__list {
  width: 81px;
  height: 204px;
}
.footer-block__main-LogoNav__navigation-Help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 30px;
  color: #212353;
}
.footer-block__main-LogoNav__list {
  width: 71px;
  height: 240px;
}
.footer-block__main-LogoNav__navigation-Media {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}
.footer-block__main-LogoNav__navigation-Media__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.footer-block__main-LogoNav__navigation-Media__icon__facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #E5E5E5;
  border: 1px solid #E5E5E5;
  width: 50px;
  height: 50px;
}
.footer-block__main-LogoNav__navigation-Media__icon__facebook:hover path {
  fill: #3B5998;
}
.footer-block__main-LogoNav__navigation-Media__icon__facebook:hover {
  background: #FFFFFF;
  border: 1px solid #3B5998;
}
.footer-block__main-LogoNav__navigation-Media__icon__twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #E5E5E5;
  border: 1px solid #E5E5E5;
  width: 50px;
  height: 50px;
}
.footer-block__main-LogoNav__navigation-Media__icon__twitter:hover path {
  fill: #00ACEE;
}
.footer-block__main-LogoNav__navigation-Media__icon__twitter:hover {
  background: #FFFFFF;
  border: 1px solid #00ACEE;
}
.footer-block__main-LogoNav__navigation-Media__icon__instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #E5E5E5;
  border: 1px solid #E5E5E5;
  width: 50px;
  height: 50px;
}
.footer-block__main-LogoNav__navigation-Media__icon__instagram:hover path {
  fill: #C13584;
}
.footer-block__main-LogoNav__navigation-Media__icon__instagram:hover {
  background: #FFFFFF;
  border: 1px solid #C13584;
}
.footer-block__end {
  width: 275px;
  height: 40px;
  letter-spacing: 0.01em;
}
.footer-block__end-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 180%;
  color: #212353;
}